/* clearfix */	
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
/* end clearfix */ 

//alineacion de texto

.ac
	text-align center
//alineacion de texto

//columnas en paralelo

respon()
	display block
	width auto
	
img()	
	img 
		max-width 100%
		height auto	
		
respon-img()
	display block
	width auto
	text-align center
		
inlineblock(p)
	display inline-block
	*display inline 
	zoom 1 
	vertical-align p
	font-size 16px
	box-sizing border-box

[class^="dd-"], [class*="dd-"] {
	inlineblock(top)
}
[class^="ii-"], [class*="ii-"] {
	inlineblock(top)
	img()
}

//columnas en paralelo
// revision 241115
.ib 
	inlineblock(top)

.d-content
.content-960
.content-768
.content-640
.content-480	
	font-size 0

//descripcion		
.dd-1
	width 1%
.dd-2
	width 2%
.dd-3
	width 3%
.dd-4
	width 4%
.dd-5
	width 5%
.dd-6
	width 6%
.dd-7
	width 7%
.dd-8
	width 8%
.dd-9
	width 9%
.dd-10
	width 10%
.dd-11
	width 11%
.dd-12
	width 12%
.dd-13
	width 13%
.dd-14
	width 14%
.dd-15
	width 15%
.dd-16
	width 16%
.dd-17
	width 17%
.dd-18
	width 18%
.dd-19
	width 19%
.dd-20
	width 20%
.dd-21
	width 21%
.dd-22
	width 22%
.dd-23
	width 23%
.dd-24
	width 24%
.dd-25
	width 25%
.dd-26
	width 26%
.dd-27
	width 27%
.dd-28
	width 28%
.dd-29
	width 29%
.dd-30
	width 30%
.dd-31
	width 31%
.dd-32
	width 32%
.dd-33
	width 33%
.dd-34
	width 34%
.dd-35
	width 35%
.dd-36
	width 36%
.dd-37
	width 37%
.dd-38
	width 38%
.dd-39
	width 39%
.dd-40
	width 40%
.dd-41
	width 41%
.dd-42
	width 42%
.dd-43
	width 43%
.dd-44
	width 44%
.dd-45
	width 45%
.dd-46
	width 46%
.dd-47
	width 47%
.dd-48
	width 48%
.dd-49
	width 49%
.dd-50
	width 50%
.dd-51
	width 51%
.dd-52
	width 52%
.dd-53
	width 53%
.dd-54
	width 54%
.dd-55
	width 55%
.dd-56
	width 56%
.dd-57
	width 57%
.dd-58
	width 58%
.dd-59
	width 59%
.dd-60
	width 60%
.dd-61
	width 61%
.dd-62
	width 62%
.dd-63
	width 63%
.dd-64
	width 64%
.dd-65
	width 65%
.dd-66
	width 66%
.dd-67
	width 67%
.dd-68
	width 68%
.dd-69
	width 69%
.dd-70
	width 70%
.dd-71
	width 71%
.dd-72
	width 72%
.dd-73
	width 73%
.dd-74
	width 74%
.dd-75
	width 75%
.dd-76
	width 76%
.dd-77
	width 77%
.dd-78
	width 78%
.dd-79
	width 79%
.dd-80
	width 80%
.dd-81
	width 81%
.dd-82
	width 82%
.dd-83
	width 83%
.dd-84
	width 84%
.dd-85
	width 85%
.dd-86
	width 86%
.dd-87
	width 87%
.dd-88
	width 88%
.dd-89
	width 89%
.dd-90
	width 90%
.dd-91
	width 91%
.dd-92
	width 92%
.dd-93
	width 93%
.dd-94
	width 94%
.dd-95
	width 95%
.dd-96
	width 96%
.dd-97
	width 97%
.dd-98
	width 98%
.dd-99
	width 99%
.dd-100
	width 100%
//descripcion		

.ii-1
	width 1%
.ii-2
	width 2%
.ii-3
	width 3%
.ii-4
	width 4%
.ii-5
	width 5%
.ii-6
	width 6%
.ii-7
	width 7%
.ii-8
	width 8%
.ii-9
	width 9%
.ii-10
	width 10%
.ii-11
	width 11%
.ii-12
	width 12%
.ii-13
	width 13%
.ii-14
	width 14%
.ii-15
	width 15%
.ii-16
	width 16%
.ii-17
	width 17%
.ii-18
	width 18%
.ii-19
	width 19%
.ii-20
	width 20%
.ii-21
	width 21%
.ii-22
	width 22%
.ii-23
	width 23%
.ii-24
	width 24%
.ii-25
	width 25%
.ii-26
	width 26%
.ii-27
	width 27%
.ii-28
	width 28%
.ii-29
	width 29%
.ii-30
	width 30%
.ii-31
	width 31%
.ii-32
	width 32%
.ii-33
	width 33%
.ii-34
	width 34%
.ii-35
	width 35%
.ii-36
	width 36%
.ii-37
	width 37%
.ii-38
	width 38%
.ii-39
	width 39%
.ii-40
	width 40%
.ii-41
	width 41%
.ii-42
	width 42%
.ii-43
	width 43%
.ii-44
	width 44%
.ii-45
	width 45%
.ii-46
	width 46%
.ii-47
	width 47%
.ii-48
	width 48%
.ii-49
	width 49%
.ii-50
	width 50%
.ii-51
	width 51%
.ii-52
	width 52%
.ii-53
	width 53%
.ii-54
	width 54%
.ii-55
	width 55%
.ii-56
	width 56%
.ii-57
	width 57%
.ii-58
	width 58%
.ii-59
	width 59%
.ii-60
	width 60%
.ii-61
	width 61%
.ii-62
	width 62%
.ii-63
	width 63%
.ii-64
	width 64%
.ii-65
	width 65%
.ii-66
	width 66%
.ii-67
	width 67%
.ii-68
	width 68%
.ii-69
	width 69%
.ii-70
	width 70%
.ii-71
	width 71%
.ii-72
	width 72%
.ii-73
	width 73%
.ii-74
	width 74%
.ii-75
	width 75%
.ii-76
	width 76%
.ii-77
	width 77%
.ii-78
	width 78%
.ii-79
	width 79%
.ii-80
	width 80%
.ii-81
	width 81%
.ii-82
	width 82%
.ii-83
	width 83%
.ii-84
	width 84%
.ii-85
	width 85%
.ii-86
	width 86%
.ii-87
	width 87%
.ii-88
	width 88%
.ii-89
	width 89%
.ii-90
	width 90%
.ii-91
	width 91%
.ii-92
	width 92%
.ii-93
	width 93%
.ii-94
	width 94%
.ii-95
	width 95%
.ii-96
	width 96%
.ii-97
	width 97%
.ii-98
	width 98%
.ii-99
	width 99%
.ii-100
	width 100%

@media screen and (max-width 960px)
	.content-960
		.dd-1
			respon()	
	.content-960
		.dd-2
			respon()	
	.content-960
		.dd-3
			respon()	
	.content-960
		.dd-4
			respon()	
	.content-960
		.dd-5
			respon()	
	.content-960
		.dd-6
			respon()	
	.content-960
		.dd-7
			respon()	
	.content-960
		.dd-8
			respon()	
	.content-960
		.dd-9
			respon()	
	.content-960
		.dd-10
			respon()	
	.content-960
		.dd-11
			respon()	
	.content-960
		.dd-12
			respon()	
	.content-960
		.dd-13
			respon()	
	.content-960
		.dd-14
			respon()	
	.content-960
		.dd-15
			respon()	
	.content-960
		.dd-16
			respon()	
	.content-960
		.dd-17
			respon()	
	.content-960
		.dd-18
			respon()	
	.content-960
		.dd-19
			respon()	
	.content-960
		.dd-20
			respon()	
	.content-960
		.dd-21
			respon()	
	.content-960
		.dd-22
			respon()	
	.content-960
		.dd-23
			respon()	
	.content-960
		.dd-24
			respon()	
	.content-960
		.dd-25
			respon()	
	.content-960
		.dd-26
			respon()	
	.content-960
		.dd-27
			respon()	
	.content-960
		.dd-28
			respon()	
	.content-960
		.dd-29
			respon()	
	.content-960
		.dd-30
			respon()	
	.content-960
		.dd-31
			respon()	
	.content-960
		.dd-32
			respon()	
	.content-960
		.dd-33
			respon()	
	.content-960
		.dd-34
			respon()	
	.content-960
		.dd-35
			respon()	
	.content-960
		.dd-36
			respon()	
	.content-960
		.dd-37
			respon()	
	.content-960
		.dd-38
			respon()	
	.content-960
		.dd-39
			respon()	
	.content-960
		.dd-40
			respon()	
	.content-960
		.dd-41
			respon()	
	.content-960
		.dd-42
			respon()	
	.content-960
		.dd-43
			respon()	
	.content-960
		.dd-44
			respon()	
	.content-960
		.dd-45
			respon()	
	.content-960
		.dd-46
			respon()	
	.content-960
		.dd-47
			respon()	
	.content-960
		.dd-48
			respon()	
	.content-960
		.dd-49
			respon()	
	.content-960
		.dd-50
			respon()	
	.content-960
		.dd-51
			respon()	
	.content-960
		.dd-52
			respon()	
	.content-960
		.dd-53
			respon()	
	.content-960
		.dd-54
			respon()	
	.content-960
		.dd-55
			respon()	
	.content-960
		.dd-56
			respon()	
	.content-960
		.dd-57
			respon()	
	.content-960
		.dd-58
			respon()	
	.content-960
		.dd-59
			respon()	
	.content-960
		.dd-60
			respon()	
	.content-960
		.dd-61
			respon()	
	.content-960
		.dd-62
			respon()	
	.content-960
		.dd-63
			respon()	
	.content-960
		.dd-64
			respon()	
	.content-960
		.dd-65
			respon()	
	.content-960
		.dd-66
			respon()	
	.content-960
		.dd-67
			respon()	
	.content-960
		.dd-68
			respon()	
	.content-960
		.dd-69
			respon()	
	.content-960
		.dd-70
			respon()	
	.content-960
		.dd-71
			respon()	
	.content-960
		.dd-72
			respon()	
	.content-960
		.dd-73
			respon()	
	.content-960
		.dd-74
			respon()	
	.content-960
		.dd-75
			respon()	
	.content-960
		.dd-76
			respon()	
	.content-960
		.dd-77
			respon()	
	.content-960
		.dd-78
			respon()	
	.content-960
		.dd-79
			respon()	
	.content-960
		.dd-80
			respon()	
	.content-960
		.dd-81
			respon()	
	.content-960
		.dd-82
			respon()	
	.content-960
		.dd-83
			respon()	
	.content-960
		.dd-84
			respon()	
	.content-960
		.dd-85
			respon()	
	.content-960
		.dd-86
			respon()	
	.content-960
		.dd-87
			respon()	
	.content-960
		.dd-88
			respon()	
	.content-960
		.dd-89
			respon()	
	.content-960
		.dd-90
			respon()	
	.content-960
		.dd-91
			respon()	
	.content-960
		.dd-92
			respon()	
	.content-960
		.dd-93
			respon()	
	.content-960
		.dd-94
			respon()	
	.content-960
		.dd-95
			respon()	
	.content-960
		.dd-96
			respon()	
	.content-960
		.dd-97
			respon()	
	.content-960
		.dd-98
			respon()	
	.content-960
		.dd-99
			respon()	
	.content-960
		.dd-100
			respon()



	.content-960
		.ii-1
			respon-img()
	.content-960
		.ii-2
			respon-img()
	.content-960
		.ii-3
			respon-img()
	.content-960
		.ii-4
			respon-img()
	.content-960
		.ii-5
			respon-img()
	.content-960
		.ii-6
			respon-img()
	.content-960
		.ii-7
			respon-img()
	.content-960
		.ii-8
			respon-img()
	.content-960
		.ii-9
			respon-img()
	.content-960
		.ii-10
			respon-img()
	.content-960
		.ii-11
			respon-img()
	.content-960
		.ii-12
			respon-img()
	.content-960
		.ii-13
			respon-img()
	.content-960
		.ii-14
			respon-img()
	.content-960
		.ii-15
			respon-img()
	.content-960
		.ii-16
			respon-img()
	.content-960
		.ii-17
			respon-img()
	.content-960
		.ii-18
			respon-img()
	.content-960
		.ii-19
			respon-img()
	.content-960
		.ii-20
			respon-img()
	.content-960
		.ii-21
			respon-img()
	.content-960
		.ii-22
			respon-img()
	.content-960
		.ii-23
			respon-img()
	.content-960
		.ii-24
			respon-img()
	.content-960
		.ii-25
			respon-img()
	.content-960
		.ii-26
			respon-img()
	.content-960
		.ii-27
			respon-img()
	.content-960
		.ii-28
			respon-img()
	.content-960
		.ii-29
			respon-img()
	.content-960
		.ii-30
			respon-img()
	.content-960
		.ii-31
			respon-img()
	.content-960
		.ii-32
			respon-img()
	.content-960
		.ii-33
			respon-img()
	.content-960
		.ii-34
			respon-img()
	.content-960
		.ii-35
			respon-img()
	.content-960
		.ii-36
			respon-img()
	.content-960
		.ii-37
			respon-img()
	.content-960
		.ii-38
			respon-img()
	.content-960
		.ii-39
			respon-img()
	.content-960
		.ii-40
			respon-img()
	.content-960
		.ii-41
			respon-img()
	.content-960
		.ii-42
			respon-img()
	.content-960
		.ii-43
			respon-img()
	.content-960
		.ii-44
			respon-img()
	.content-960
		.ii-45
			respon-img()
	.content-960
		.ii-46
			respon-img()
	.content-960
		.ii-47
			respon-img()
	.content-960
		.ii-48
			respon-img()
	.content-960
		.ii-49
			respon-img()
	.content-960
		.ii-50
			respon-img()
	.content-960
		.ii-51
			respon-img()
	.content-960
		.ii-52
			respon-img()
	.content-960
		.ii-53
			respon-img()
	.content-960
		.ii-54
			respon-img()
	.content-960
		.ii-55
			respon-img()
	.content-960
		.ii-56
			respon-img()
	.content-960
		.ii-57
			respon-img()
	.content-960
		.ii-58
			respon-img()
	.content-960
		.ii-59
			respon-img()
	.content-960
		.ii-60
			respon-img()
	.content-960
		.ii-61
			respon-img()
	.content-960
		.ii-62
			respon-img()
	.content-960
		.ii-63
			respon-img()
	.content-960
		.ii-64
			respon-img()
	.content-960
		.ii-65
			respon-img()
	.content-960
		.ii-66
			respon-img()
	.content-960
		.ii-67
			respon-img()
	.content-960
		.ii-68
			respon-img()
	.content-960
		.ii-69
			respon-img()
	.content-960
		.ii-70
			respon-img()
	.content-960
		.ii-71
			respon-img()
	.content-960
		.ii-72
			respon-img()
	.content-960
		.ii-73
			respon-img()
	.content-960
		.ii-74
			respon-img()
	.content-960
		.ii-75
			respon-img()
	.content-960
		.ii-76
			respon-img()
	.content-960
		.ii-77
			respon-img()
	.content-960
		.ii-78
			respon-img()
	.content-960
		.ii-79
			respon-img()
	.content-960
		.ii-80
			respon-img()
	.content-960
		.ii-81
			respon-img()
	.content-960
		.ii-82
			respon-img()
	.content-960
		.ii-83
			respon-img()
	.content-960
		.ii-84
			respon-img()
	.content-960
		.ii-85
			respon-img()
	.content-960
		.ii-86
			respon-img()
	.content-960
		.ii-87
			respon-img()
	.content-960
		.ii-88
			respon-img()
	.content-960
		.ii-89
			respon-img()
	.content-960
		.ii-90
			respon-img()
	.content-960
		.ii-91
			respon-img()
	.content-960
		.ii-92
			respon-img()
	.content-960
		.ii-93
			respon-img()
	.content-960
		.ii-94
			respon-img()
	.content-960
		.ii-95
			respon-img()
	.content-960
		.ii-96
			respon-img()
	.content-960
		.ii-97
			respon-img()
	.content-960
		.ii-98
			respon-img()
	.content-960
		.ii-99
			respon-img()
	.content-960
		.ii-100
			respon-img()			
		




@media screen and (max-width 768px)	
	.content-768
		.dd-1
			respon()	
	.content-768
		.dd-2
			respon()	
	.content-768
		.dd-3
			respon()	
	.content-768
		.dd-4
			respon()	
	.content-768
		.dd-5
			respon()	
	.content-768
		.dd-6
			respon()	
	.content-768
		.dd-7
			respon()	
	.content-768
		.dd-8
			respon()	
	.content-768
		.dd-9
			respon()	
	.content-768
		.dd-10
			respon()	
	.content-768
		.dd-11
			respon()	
	.content-768
		.dd-12
			respon()	
	.content-768
		.dd-13
			respon()	
	.content-768
		.dd-14
			respon()	
	.content-768
		.dd-15
			respon()	
	.content-768
		.dd-16
			respon()	
	.content-768
		.dd-17
			respon()	
	.content-768
		.dd-18
			respon()	
	.content-768
		.dd-19
			respon()	
	.content-768
		.dd-20
			respon()	
	.content-768
		.dd-21
			respon()	
	.content-768
		.dd-22
			respon()	
	.content-768
		.dd-23
			respon()	
	.content-768
		.dd-24
			respon()	
	.content-768
		.dd-25
			respon()	
	.content-768
		.dd-26
			respon()	
	.content-768
		.dd-27
			respon()	
	.content-768
		.dd-28
			respon()	
	.content-768
		.dd-29
			respon()	
	.content-768
		.dd-30
			respon()	
	.content-768
		.dd-31
			respon()	
	.content-768
		.dd-32
			respon()	
	.content-768
		.dd-33
			respon()	
	.content-768
		.dd-34
			respon()	
	.content-768
		.dd-35
			respon()	
	.content-768
		.dd-36
			respon()	
	.content-768
		.dd-37
			respon()	
	.content-768
		.dd-38
			respon()	
	.content-768
		.dd-39
			respon()	
	.content-768
		.dd-40
			respon()	
	.content-768
		.dd-41
			respon()	
	.content-768
		.dd-42
			respon()	
	.content-768
		.dd-43
			respon()	
	.content-768
		.dd-44
			respon()	
	.content-768
		.dd-45
			respon()	
	.content-768
		.dd-46
			respon()	
	.content-768
		.dd-47
			respon()	
	.content-768
		.dd-48
			respon()	
	.content-768
		.dd-49
			respon()	
	.content-768
		.dd-50
			respon()	
	.content-768
		.dd-51
			respon()	
	.content-768
		.dd-52
			respon()	
	.content-768
		.dd-53
			respon()	
	.content-768
		.dd-54
			respon()	
	.content-768
		.dd-55
			respon()	
	.content-768
		.dd-56
			respon()	
	.content-768
		.dd-57
			respon()	
	.content-768
		.dd-58
			respon()	
	.content-768
		.dd-59
			respon()	
	.content-768
		.dd-60
			respon()	
	.content-768
		.dd-61
			respon()	
	.content-768
		.dd-62
			respon()	
	.content-768
		.dd-63
			respon()	
	.content-768
		.dd-64
			respon()	
	.content-768
		.dd-65
			respon()	
	.content-768
		.dd-66
			respon()	
	.content-768
		.dd-67
			respon()	
	.content-768
		.dd-68
			respon()	
	.content-768
		.dd-69
			respon()	
	.content-768
		.dd-70
			respon()	
	.content-768
		.dd-71
			respon()	
	.content-768
		.dd-72
			respon()	
	.content-768
		.dd-73
			respon()	
	.content-768
		.dd-74
			respon()	
	.content-768
		.dd-75
			respon()	
	.content-768
		.dd-76
			respon()	
	.content-768
		.dd-77
			respon()	
	.content-768
		.dd-78
			respon()	
	.content-768
		.dd-79
			respon()	
	.content-768
		.dd-80
			respon()	
	.content-768
		.dd-81
			respon()	
	.content-768
		.dd-82
			respon()	
	.content-768
		.dd-83
			respon()	
	.content-768
		.dd-84
			respon()	
	.content-768
		.dd-85
			respon()	
	.content-768
		.dd-86
			respon()	
	.content-768
		.dd-87
			respon()	
	.content-768
		.dd-88
			respon()	
	.content-768
		.dd-89
			respon()	
	.content-768
		.dd-90
			respon()	
	.content-768
		.dd-91
			respon()	
	.content-768
		.dd-92
			respon()	
	.content-768
		.dd-93
			respon()	
	.content-768
		.dd-94
			respon()	
	.content-768
		.dd-95
			respon()	
	.content-768
		.dd-96
			respon()	
	.content-768
		.dd-97
			respon()	
	.content-768
		.dd-98
			respon()	
	.content-768
		.dd-99
			respon()	
	.content-768
		.dd-100
			respon()	
			


	.content-768
		.ii-1
			respon-img()
	.content-768
		.ii-2
			respon-img()
	.content-768
		.ii-3
			respon-img()
	.content-768
		.ii-4
			respon-img()
	.content-768
		.ii-5
			respon-img()
	.content-768
		.ii-6
			respon-img()
	.content-768
		.ii-7
			respon-img()
	.content-768
		.ii-8
			respon-img()
	.content-768
		.ii-9
			respon-img()
	.content-768
		.ii-10
			respon-img()
	.content-768
		.ii-11
			respon-img()
	.content-768
		.ii-12
			respon-img()
	.content-768
		.ii-13
			respon-img()
	.content-768
		.ii-14
			respon-img()
	.content-768
		.ii-15
			respon-img()
	.content-768
		.ii-16
			respon-img()
	.content-768
		.ii-17
			respon-img()
	.content-768
		.ii-18
			respon-img()
	.content-768
		.ii-19
			respon-img()
	.content-768
		.ii-20
			respon-img()
	.content-768
		.ii-21
			respon-img()
	.content-768
		.ii-22
			respon-img()
	.content-768
		.ii-23
			respon-img()
	.content-768
		.ii-24
			respon-img()
	.content-768
		.ii-25
			respon-img()
	.content-768
		.ii-26
			respon-img()
	.content-768
		.ii-27
			respon-img()
	.content-768
		.ii-28
			respon-img()
	.content-768
		.ii-29
			respon-img()
	.content-768
		.ii-30
			respon-img()
	.content-768
		.ii-31
			respon-img()
	.content-768
		.ii-32
			respon-img()
	.content-768
		.ii-33
			respon-img()
	.content-768
		.ii-34
			respon-img()
	.content-768
		.ii-35
			respon-img()
	.content-768
		.ii-36
			respon-img()
	.content-768
		.ii-37
			respon-img()
	.content-768
		.ii-38
			respon-img()
	.content-768
		.ii-39
			respon-img()
	.content-768
		.ii-40
			respon-img()
	.content-768
		.ii-41
			respon-img()
	.content-768
		.ii-42
			respon-img()
	.content-768
		.ii-43
			respon-img()
	.content-768
		.ii-44
			respon-img()
	.content-768
		.ii-45
			respon-img()
	.content-768
		.ii-46
			respon-img()
	.content-768
		.ii-47
			respon-img()
	.content-768
		.ii-48
			respon-img()
	.content-768
		.ii-49
			respon-img()
	.content-768
		.ii-50
			respon-img()
	.content-768
		.ii-51
			respon-img()
	.content-768
		.ii-52
			respon-img()
	.content-768
		.ii-53
			respon-img()
	.content-768
		.ii-54
			respon-img()
	.content-768
		.ii-55
			respon-img()
	.content-768
		.ii-56
			respon-img()
	.content-768
		.ii-57
			respon-img()
	.content-768
		.ii-58
			respon-img()
	.content-768
		.ii-59
			respon-img()
	.content-768
		.ii-60
			respon-img()
	.content-768
		.ii-61
			respon-img()
	.content-768
		.ii-62
			respon-img()
	.content-768
		.ii-63
			respon-img()
	.content-768
		.ii-64
			respon-img()
	.content-768
		.ii-65
			respon-img()
	.content-768
		.ii-66
			respon-img()
	.content-768
		.ii-67
			respon-img()
	.content-768
		.ii-68
			respon-img()
	.content-768
		.ii-69
			respon-img()
	.content-768
		.ii-70
			respon-img()
	.content-768
		.ii-71
			respon-img()
	.content-768
		.ii-72
			respon-img()
	.content-768
		.ii-73
			respon-img()
	.content-768
		.ii-74
			respon-img()
	.content-768
		.ii-75
			respon-img()
	.content-768
		.ii-76
			respon-img()
	.content-768
		.ii-77
			respon-img()
	.content-768
		.ii-78
			respon-img()
	.content-768
		.ii-79
			respon-img()
	.content-768
		.ii-80
			respon-img()
	.content-768
		.ii-81
			respon-img()
	.content-768
		.ii-82
			respon-img()
	.content-768
		.ii-83
			respon-img()
	.content-768
		.ii-84
			respon-img()
	.content-768
		.ii-85
			respon-img()
	.content-768
		.ii-86
			respon-img()
	.content-768
		.ii-87
			respon-img()
	.content-768
		.ii-88
			respon-img()
	.content-768
		.ii-89
			respon-img()
	.content-768
		.ii-90
			respon-img()
	.content-768
		.ii-91
			respon-img()
	.content-768
		.ii-92
			respon-img()
	.content-768
		.ii-93
			respon-img()
	.content-768
		.ii-94
			respon-img()
	.content-768
		.ii-95
			respon-img()
	.content-768
		.ii-96
			respon-img()
	.content-768
		.ii-97
			respon-img()
	.content-768
		.ii-98
			respon-img()
	.content-768
		.ii-99
			respon-img()
	.content-768
		.ii-100
			respon-img()	
		
@media screen and (max-width 640px)
	.content-640
		.dd-1
			respon()	
	.content-640
		.dd-2
			respon()	
	.content-640
		.dd-3
			respon()	
	.content-640
		.dd-4
			respon()	
	.content-640
		.dd-5
			respon()	
	.content-640
		.dd-6
			respon()	
	.content-640
		.dd-7
			respon()	
	.content-640
		.dd-8
			respon()	
	.content-640
		.dd-9
			respon()	
	.content-640
		.dd-10
			respon()	
	.content-640
		.dd-11
			respon()	
	.content-640
		.dd-12
			respon()	
	.content-640
		.dd-13
			respon()	
	.content-640
		.dd-14
			respon()	
	.content-640
		.dd-15
			respon()	
	.content-640
		.dd-16
			respon()	
	.content-640
		.dd-17
			respon()	
	.content-640
		.dd-18
			respon()	
	.content-640
		.dd-19
			respon()	
	.content-640
		.dd-20
			respon()	
	.content-640
		.dd-21
			respon()	
	.content-640
		.dd-22
			respon()	
	.content-640
		.dd-23
			respon()	
	.content-640
		.dd-24
			respon()	
	.content-640
		.dd-25
			respon()	
	.content-640
		.dd-26
			respon()	
	.content-640
		.dd-27
			respon()	
	.content-640
		.dd-28
			respon()	
	.content-640
		.dd-29
			respon()	
	.content-640
		.dd-30
			respon()	
	.content-640
		.dd-31
			respon()	
	.content-640
		.dd-32
			respon()	
	.content-640
		.dd-33
			respon()	
	.content-640
		.dd-34
			respon()	
	.content-640
		.dd-35
			respon()	
	.content-640
		.dd-36
			respon()	
	.content-640
		.dd-37
			respon()	
	.content-640
		.dd-38
			respon()	
	.content-640
		.dd-39
			respon()	
	.content-640
		.dd-40
			respon()	
	.content-640
		.dd-41
			respon()	
	.content-640
		.dd-42
			respon()	
	.content-640
		.dd-43
			respon()	
	.content-640
		.dd-44
			respon()	
	.content-640
		.dd-45
			respon()	
	.content-640
		.dd-46
			respon()	
	.content-640
		.dd-47
			respon()	
	.content-640
		.dd-48
			respon()	
	.content-640
		.dd-49
			respon()	
	.content-640
		.dd-50
			respon()	
	.content-640
		.dd-51
			respon()	
	.content-640
		.dd-52
			respon()	
	.content-640
		.dd-53
			respon()	
	.content-640
		.dd-54
			respon()	
	.content-640
		.dd-55
			respon()	
	.content-640
		.dd-56
			respon()	
	.content-640
		.dd-57
			respon()	
	.content-640
		.dd-58
			respon()	
	.content-640
		.dd-59
			respon()	
	.content-640
		.dd-60
			respon()	
	.content-640
		.dd-61
			respon()	
	.content-640
		.dd-62
			respon()	
	.content-640
		.dd-63
			respon()	
	.content-640
		.dd-64
			respon()	
	.content-640
		.dd-65
			respon()	
	.content-640
		.dd-66
			respon()	
	.content-640
		.dd-67
			respon()	
	.content-640
		.dd-68
			respon()	
	.content-640
		.dd-69
			respon()	
	.content-640
		.dd-70
			respon()	
	.content-640
		.dd-71
			respon()	
	.content-640
		.dd-72
			respon()	
	.content-640
		.dd-73
			respon()	
	.content-640
		.dd-74
			respon()	
	.content-640
		.dd-75
			respon()	
	.content-640
		.dd-76
			respon()	
	.content-640
		.dd-77
			respon()	
	.content-640
		.dd-78
			respon()	
	.content-640
		.dd-79
			respon()	
	.content-640
		.dd-80
			respon()	
	.content-640
		.dd-81
			respon()	
	.content-640
		.dd-82
			respon()	
	.content-640
		.dd-83
			respon()	
	.content-640
		.dd-84
			respon()	
	.content-640
		.dd-85
			respon()	
	.content-640
		.dd-86
			respon()	
	.content-640
		.dd-87
			respon()	
	.content-640
		.dd-88
			respon()	
	.content-640
		.dd-89
			respon()	
	.content-640
		.dd-90
			respon()	
	.content-640
		.dd-91
			respon()	
	.content-640
		.dd-92
			respon()	
	.content-640
		.dd-93
			respon()	
	.content-640
		.dd-94
			respon()	
	.content-640
		.dd-95
			respon()	
	.content-640
		.dd-96
			respon()	
	.content-640
		.dd-97
			respon()	
	.content-640
		.dd-98
			respon()	
	.content-640
		.dd-99
			respon()	
	.content-640
		.dd-100
			respon()
		
		
	.content-640
		.ii-1
			respon-img()
	.content-640
		.ii-2
			respon-img()
	.content-640
		.ii-3
			respon-img()
	.content-640
		.ii-4
			respon-img()
	.content-640
		.ii-5
			respon-img()
	.content-640
		.ii-6
			respon-img()
	.content-640
		.ii-7
			respon-img()
	.content-640
		.ii-8
			respon-img()
	.content-640
		.ii-9
			respon-img()
	.content-640
		.ii-10
			respon-img()
	.content-640
		.ii-11
			respon-img()
	.content-640
		.ii-12
			respon-img()
	.content-640
		.ii-13
			respon-img()
	.content-640
		.ii-14
			respon-img()
	.content-640
		.ii-15
			respon-img()
	.content-640
		.ii-16
			respon-img()
	.content-640
		.ii-17
			respon-img()
	.content-640
		.ii-18
			respon-img()
	.content-640
		.ii-19
			respon-img()
	.content-640
		.ii-20
			respon-img()
	.content-640
		.ii-21
			respon-img()
	.content-640
		.ii-22
			respon-img()
	.content-640
		.ii-23
			respon-img()
	.content-640
		.ii-24
			respon-img()
	.content-640
		.ii-25
			respon-img()
	.content-640
		.ii-26
			respon-img()
	.content-640
		.ii-27
			respon-img()
	.content-640
		.ii-28
			respon-img()
	.content-640
		.ii-29
			respon-img()
	.content-640
		.ii-30
			respon-img()
	.content-640
		.ii-31
			respon-img()
	.content-640
		.ii-32
			respon-img()
	.content-640
		.ii-33
			respon-img()
	.content-640
		.ii-34
			respon-img()
	.content-640
		.ii-35
			respon-img()
	.content-640
		.ii-36
			respon-img()
	.content-640
		.ii-37
			respon-img()
	.content-640
		.ii-38
			respon-img()
	.content-640
		.ii-39
			respon-img()
	.content-640
		.ii-40
			respon-img()
	.content-640
		.ii-41
			respon-img()
	.content-640
		.ii-42
			respon-img()
	.content-640
		.ii-43
			respon-img()
	.content-640
		.ii-44
			respon-img()
	.content-640
		.ii-45
			respon-img()
	.content-640
		.ii-46
			respon-img()
	.content-640
		.ii-47
			respon-img()
	.content-640
		.ii-48
			respon-img()
	.content-640
		.ii-49
			respon-img()
	.content-640
		.ii-50
			respon-img()
	.content-640
		.ii-51
			respon-img()
	.content-640
		.ii-52
			respon-img()
	.content-640
		.ii-53
			respon-img()
	.content-640
		.ii-54
			respon-img()
	.content-640
		.ii-55
			respon-img()
	.content-640
		.ii-56
			respon-img()
	.content-640
		.ii-57
			respon-img()
	.content-640
		.ii-58
			respon-img()
	.content-640
		.ii-59
			respon-img()
	.content-640
		.ii-60
			respon-img()
	.content-640
		.ii-61
			respon-img()
	.content-640
		.ii-62
			respon-img()
	.content-640
		.ii-63
			respon-img()
	.content-640
		.ii-64
			respon-img()
	.content-640
		.ii-65
			respon-img()
	.content-640
		.ii-66
			respon-img()
	.content-640
		.ii-67
			respon-img()
	.content-640
		.ii-68
			respon-img()
	.content-640
		.ii-69
			respon-img()
	.content-640
		.ii-70
			respon-img()
	.content-640
		.ii-71
			respon-img()
	.content-640
		.ii-72
			respon-img()
	.content-640
		.ii-73
			respon-img()
	.content-640
		.ii-74
			respon-img()
	.content-640
		.ii-75
			respon-img()
	.content-640
		.ii-76
			respon-img()
	.content-640
		.ii-77
			respon-img()
	.content-640
		.ii-78
			respon-img()
	.content-640
		.ii-79
			respon-img()
	.content-640
		.ii-80
			respon-img()
	.content-640
		.ii-81
			respon-img()
	.content-640
		.ii-82
			respon-img()
	.content-640
		.ii-83
			respon-img()
	.content-640
		.ii-84
			respon-img()
	.content-640
		.ii-85
			respon-img()
	.content-640
		.ii-86
			respon-img()
	.content-640
		.ii-87
			respon-img()
	.content-640
		.ii-88
			respon-img()
	.content-640
		.ii-89
			respon-img()
	.content-640
		.ii-90
			respon-img()
	.content-640
		.ii-91
			respon-img()
	.content-640
		.ii-92
			respon-img()
	.content-640
		.ii-93
			respon-img()
	.content-640
		.ii-94
			respon-img()
	.content-640
		.ii-95
			respon-img()
	.content-640
		.ii-96
			respon-img()
	.content-640
		.ii-97
			respon-img()
	.content-640
		.ii-98
			respon-img()
	.content-640
		.ii-99
			respon-img()
	.content-640
		.ii-100
			respon-img()

@media screen and (max-width 480px)
	.content-480
		.dd-1
			respon()	
	.content-480
		.dd-2
			respon()	
	.content-480
		.dd-3
			respon()	
	.content-480
		.dd-4
			respon()	
	.content-480
		.dd-5
			respon()	
	.content-480
		.dd-6
			respon()	
	.content-480
		.dd-7
			respon()	
	.content-480
		.dd-8
			respon()	
	.content-480
		.dd-9
			respon()	
	.content-480
		.dd-10
			respon()	
	.content-480
		.dd-11
			respon()	
	.content-480
		.dd-12
			respon()	
	.content-480
		.dd-13
			respon()	
	.content-480
		.dd-14
			respon()	
	.content-480
		.dd-15
			respon()	
	.content-480
		.dd-16
			respon()	
	.content-480
		.dd-17
			respon()	
	.content-480
		.dd-18
			respon()	
	.content-480
		.dd-19
			respon()	
	.content-480
		.dd-20
			respon()	
	.content-480
		.dd-21
			respon()	
	.content-480
		.dd-22
			respon()	
	.content-480
		.dd-23
			respon()	
	.content-480
		.dd-24
			respon()	
	.content-480
		.dd-25
			respon()	
	.content-480
		.dd-26
			respon()	
	.content-480
		.dd-27
			respon()	
	.content-480
		.dd-28
			respon()	
	.content-480
		.dd-29
			respon()	
	.content-480
		.dd-30
			respon()	
	.content-480
		.dd-31
			respon()	
	.content-480
		.dd-32
			respon()	
	.content-480
		.dd-33
			respon()	
	.content-480
		.dd-34
			respon()	
	.content-480
		.dd-35
			respon()	
	.content-480
		.dd-36
			respon()	
	.content-480
		.dd-37
			respon()	
	.content-480
		.dd-38
			respon()	
	.content-480
		.dd-39
			respon()	
	.content-480
		.dd-40
			respon()	
	.content-480
		.dd-41
			respon()	
	.content-480
		.dd-42
			respon()	
	.content-480
		.dd-43
			respon()	
	.content-480
		.dd-44
			respon()	
	.content-480
		.dd-45
			respon()	
	.content-480
		.dd-46
			respon()	
	.content-480
		.dd-47
			respon()	
	.content-480
		.dd-48
			respon()	
	.content-480
		.dd-49
			respon()	
	.content-480
		.dd-50
			respon()	
	.content-480
		.dd-51
			respon()	
	.content-480
		.dd-52
			respon()	
	.content-480
		.dd-53
			respon()	
	.content-480
		.dd-54
			respon()	
	.content-480
		.dd-55
			respon()	
	.content-480
		.dd-56
			respon()	
	.content-480
		.dd-57
			respon()	
	.content-480
		.dd-58
			respon()	
	.content-480
		.dd-59
			respon()	
	.content-480
		.dd-60
			respon()	
	.content-480
		.dd-61
			respon()	
	.content-480
		.dd-62
			respon()	
	.content-480
		.dd-63
			respon()	
	.content-480
		.dd-64
			respon()	
	.content-480
		.dd-65
			respon()	
	.content-480
		.dd-66
			respon()	
	.content-480
		.dd-67
			respon()	
	.content-480
		.dd-68
			respon()	
	.content-480
		.dd-69
			respon()	
	.content-480
		.dd-70
			respon()	
	.content-480
		.dd-71
			respon()	
	.content-480
		.dd-72
			respon()	
	.content-480
		.dd-73
			respon()	
	.content-480
		.dd-74
			respon()	
	.content-480
		.dd-75
			respon()	
	.content-480
		.dd-76
			respon()	
	.content-480
		.dd-77
			respon()	
	.content-480
		.dd-78
			respon()	
	.content-480
		.dd-79
			respon()	
	.content-480
		.dd-80
			respon()	
	.content-480
		.dd-81
			respon()	
	.content-480
		.dd-82
			respon()	
	.content-480
		.dd-83
			respon()	
	.content-480
		.dd-84
			respon()	
	.content-480
		.dd-85
			respon()	
	.content-480
		.dd-86
			respon()	
	.content-480
		.dd-87
			respon()	
	.content-480
		.dd-88
			respon()	
	.content-480
		.dd-89
			respon()	
	.content-480
		.dd-90
			respon()	
	.content-480
		.dd-91
			respon()	
	.content-480
		.dd-92
			respon()	
	.content-480
		.dd-93
			respon()	
	.content-480
		.dd-94
			respon()	
	.content-480
		.dd-95
			respon()	
	.content-480
		.dd-96
			respon()	
	.content-480
		.dd-97
			respon()	
	.content-480
		.dd-98
			respon()	
	.content-480
		.dd-99
			respon()	
	.content-480
		.dd-100
			respon()


	.content-480
		.ii-1
			respon-img()
	.content-480
		.ii-2
			respon-img()
	.content-480
		.ii-3
			respon-img()
	.content-480
		.ii-4
			respon-img()
	.content-480
		.ii-5
			respon-img()
	.content-480
		.ii-6
			respon-img()
	.content-480
		.ii-7
			respon-img()
	.content-480
		.ii-8
			respon-img()
	.content-480
		.ii-9
			respon-img()
	.content-480
		.ii-10
			respon-img()
	.content-480
		.ii-11
			respon-img()
	.content-480
		.ii-12
			respon-img()
	.content-480
		.ii-13
			respon-img()
	.content-480
		.ii-14
			respon-img()
	.content-480
		.ii-15
			respon-img()
	.content-480
		.ii-16
			respon-img()
	.content-480
		.ii-17
			respon-img()
	.content-480
		.ii-18
			respon-img()
	.content-480
		.ii-19
			respon-img()
	.content-480
		.ii-20
			respon-img()
	.content-480
		.ii-21
			respon-img()
	.content-480
		.ii-22
			respon-img()
	.content-480
		.ii-23
			respon-img()
	.content-480
		.ii-24
			respon-img()
	.content-480
		.ii-25
			respon-img()
	.content-480
		.ii-26
			respon-img()
	.content-480
		.ii-27
			respon-img()
	.content-480
		.ii-28
			respon-img()
	.content-480
		.ii-29
			respon-img()
	.content-480
		.ii-30
			respon-img()
	.content-480
		.ii-31
			respon-img()
	.content-480
		.ii-32
			respon-img()
	.content-480
		.ii-33
			respon-img()
	.content-480
		.ii-34
			respon-img()
	.content-480
		.ii-35
			respon-img()
	.content-480
		.ii-36
			respon-img()
	.content-480
		.ii-37
			respon-img()
	.content-480
		.ii-38
			respon-img()
	.content-480
		.ii-39
			respon-img()
	.content-480
		.ii-40
			respon-img()
	.content-480
		.ii-41
			respon-img()
	.content-480
		.ii-42
			respon-img()
	.content-480
		.ii-43
			respon-img()
	.content-480
		.ii-44
			respon-img()
	.content-480
		.ii-45
			respon-img()
	.content-480
		.ii-46
			respon-img()
	.content-480
		.ii-47
			respon-img()
	.content-480
		.ii-48
			respon-img()
	.content-480
		.ii-49
			respon-img()
	.content-480
		.ii-50
			respon-img()
	.content-480
		.ii-51
			respon-img()
	.content-480
		.ii-52
			respon-img()
	.content-480
		.ii-53
			respon-img()
	.content-480
		.ii-54
			respon-img()
	.content-480
		.ii-55
			respon-img()
	.content-480
		.ii-56
			respon-img()
	.content-480
		.ii-57
			respon-img()
	.content-480
		.ii-58
			respon-img()
	.content-480
		.ii-59
			respon-img()
	.content-480
		.ii-60
			respon-img()
	.content-480
		.ii-61
			respon-img()
	.content-480
		.ii-62
			respon-img()
	.content-480
		.ii-63
			respon-img()
	.content-480
		.ii-64
			respon-img()
	.content-480
		.ii-65
			respon-img()
	.content-480
		.ii-66
			respon-img()
	.content-480
		.ii-67
			respon-img()
	.content-480
		.ii-68
			respon-img()
	.content-480
		.ii-69
			respon-img()
	.content-480
		.ii-70
			respon-img()
	.content-480
		.ii-71
			respon-img()
	.content-480
		.ii-72
			respon-img()
	.content-480
		.ii-73
			respon-img()
	.content-480
		.ii-74
			respon-img()
	.content-480
		.ii-75
			respon-img()
	.content-480
		.ii-76
			respon-img()
	.content-480
		.ii-77
			respon-img()
	.content-480
		.ii-78
			respon-img()
	.content-480
		.ii-79
			respon-img()
	.content-480
		.ii-80
			respon-img()
	.content-480
		.ii-81
			respon-img()
	.content-480
		.ii-82
			respon-img()
	.content-480
		.ii-83
			respon-img()
	.content-480
		.ii-84
			respon-img()
	.content-480
		.ii-85
			respon-img()
	.content-480
		.ii-86
			respon-img()
	.content-480
		.ii-87
			respon-img()
	.content-480
		.ii-88
			respon-img()
	.content-480
		.ii-89
			respon-img()
	.content-480
		.ii-90
			respon-img()
	.content-480
		.ii-91
			respon-img()
	.content-480
		.ii-92
			respon-img()
	.content-480
		.ii-93
			respon-img()
	.content-480
		.ii-94
			respon-img()
	.content-480
		.ii-95
			respon-img()
	.content-480
		.ii-96
			respon-img()
	.content-480
		.ii-97
			respon-img()
	.content-480
		.ii-98
			respon-img()
	.content-480
		.ii-99
			respon-img()
	.content-480
		.ii-100
			respon-img()				