div[class*="fixed-wrapper"]
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content space-between
	padding-top 80px
	margi-top 30px
	
	.fixed-item
		border 1px solid silver
		text-align center
	
	
	&.fixed-left
		flex-direction row-reverse
		.fixed-lateral
			justify-content flex-start

		
	&.fixed-right
		.fixed-lateral
			justify-content flex-end

		
	.fixed-content
		box-sizing border-box
		background-color #DAF0FC
		flex 1

	.fixed-lateral
		width 360px
		height auto
		background-color #dddddd
		position relative
		display flex
		align-items flex-start