.b1
	// margin-top 40px
	h3
		font-size 20px
.b2
	width 100%
	height 300px
	background-color #E0A62E
	
.fixed-item
	max-width 320px
	width 100%
	padding 20px 20px
	box-sizing border-box
	background-color #dddddd
	
	input
		margin-bottom 20px
		